<!-- Validation failure messages -->
<% if @user_sensitivy.errors.any? %>
  <% @user_sensitivy.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add User Sensitivy</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_user_sensitivy" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @user_sensitivy.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for sensitivity_id -->
      <div class="form-group">
        <label for="sensitivity_id" class="control-label">
          Sensitivity
        </label>

        <%= select_tag(:sensitivity_id, options_from_collection_for_select(Sensitivy.all, :id, :name, @user_sensitivy.sensitivity_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create User Sensitivy
      </button>
      or
      <a href="/user_sensitivies">Cancel</a>
    </form>
  </div>
</div>
